body{
    background-image: url('../images/beige-tiles.png');
}

table, form{
    background-color: white;
}
#plotter{
    height: 100%;
    width: 100%;
    color: white;
}

.container{
    background-color: whitesmoke;
}
